<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robco19e">

<!--<xacro:include filename="$(find robot_description)/urdf/properties_robco19m.xacro" />
<xacro:include filename="$(find robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find robot_description)/urdf/macros.xacro" />
<xacro:include filename="$(find robot_description)/urdf/macros.robco19m.xacro" />-->


<!--<xacro:include filename="$(find robot_description)/urdf/robko18.gazebo" />-->
<xacro:include filename="$(find robot_description)/urdf/materials.xacro" /> 
<xacro:include filename="$(find robot_description)/urdf/macros.xacro" />
<xacro:include filename="$(find robot_description)/urdf/robco19e_macros.xacro" /> 
<xacro:include filename="$(find robot_description)/urdf/robco19e_base.urdf.xacro"/>
<!--<xacro:include filename="$(find robot_description)/urdf/CPRMover4.urdf.robco19m.xacro"/>-->

<!--<xacro:r19e_base />-->
<!--<xacro:CPRMover4 />-->

</robot>

